$primary: #DA427B;
$secondary: #353535;
$error: #ff4949;
$filled: #fcfcfc;
$disabled: #e8e8e8;
$filled_point: #fffbeb;
$button_border: #ccc;
$input_border: #ddd;
$input_border_dark: #666;
$line: #ddd;
$line_light: #ededed;
$line_dark: #222;
$hover_bg: #fbfbfb;

$gray_deep: #666;
$gray: #888;
$gray_light: #999;
$gray_light2: #ccc;


// icon color
$iconColor: (
  "title": #3181f7,
  "create": #26c7d1,
  "event_note": #f29d39,
  "near_me": #7db638,
  "local_offer": #b6d855,
  "radio_button_checked": #d9dc35,
  "attachment": #efd061,
  "phone": #8c90f3,
  "access_time": #d4b547,
  "loyalty": #e04394,
  "arrow_drop_down": #81cfb8,
  "create_new_folder": #e08787,
  "clear_all": #da3b3b,
  "email": #7bb69d,
  "timelapse": #6e8fc1,
  "date_range": #f3b500,
  "group_work": #63c9f4,
  "check_box": #bf4b98,
  "link": #eeb49a,
  "event_available": #8bdd6f,
  "location_on": #ee6e2e,
  "swap_horiz": #c082ca,
  "device_hub": #ce9663,
  "done_all": #529ce0,
  "image": #ff8484,
  "event": #418eda,
  "looks_two": #00cda8,
  "code": #4c505a,
  "extension": #bd8e79,
  "burst_mode": #67cd90,
  "toggle_off": #12d9e5,
);